*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(27, 25, 25);
}
.search{
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px ;
    height: 50px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.card{
    height: 590px ;
    max-width: 470px; 
    background: linear-gradient(135deg,rgb(63, 139, 139), rgb(2, 141, 143), rgb(4, 187, 74)
    ,rgb(1, 164, 72),rgb(2, 84, 2));
    color: white;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;

}
.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: contain;
    cursor: pointer;

}
.weather img{
    height: 100px;
    width: 100px;
    margin-top: 70px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 50px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
    margin-top: 0;
    object-fit: contain;
}
.humidity,.wind{
    font-size: 20px ;
    font-weight: 200;
    font-style: italic;
}